body{
    margin: 0px;
    padding: 0px;
}
.h1{
  
    width: 97.2%;
    width:px;
}
.h2{
    padding-left: 40%;
    padding-top: 2%;

}
.h4{
    padding-right: 50px;
    width: 97.2%;
    height: 450px;
}
.h5{
    
    width: 80%;
}
.h6{
  width: 97.2%;   
}
.h7{
  width: 97.2%;   
}
.h8{
  width: 97.2%;   
}
@media (max-width: 97.2%) {
    .h1 .h2 .   {
        display: flex;
        flex-wrap: wrap;
    }
  }

